<div class='main'>
  <%# 商品一覧 %>
  <div class='post-contents'>
    <ul class='post-lists'>

      <%= render partial: "posts/search", locals: { search: @searches } %>

      <%= render partial: "posts/post", locals: { post: @posts } %>

    </ul>
  </div>
  <%# /商品一覧 %>
</div>
