.main {
  background-color: rgb(245, 245, 245);
}

.mypage {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: #333333;
  line-height: 50px;
  font-size: 20px;
}

.mypage:hover {
  background: rgb(201, 199, 206);
  color: white;
}

.post-contents{
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-lists{
  display: block;

}

.list{
  margin: 40px;
}

.post{
  width: 70vw;
  border: solid 1px black;
  display: flex;
  background-color: white;
  height: 200px;
}

.post-left{
  width: 25%;
}

.post-img{
  width: 100%;
  height: 100%;
  border: solid 1px #2e2e2e42;
}

.post-center{
  width: 55%;
  display: block;
}

.top-post-title{
  border: solid 1px #2e2e2e42;
  height: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  margin: 0px;
  font-weight: bold;
  padding: 12px 0;
}

.top-post-explain{
  border: solid 1px #2e2e2e42;
  height: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.post-right{
  width: 20%;
  border-top: solid 1px #2e2e2e42;
  border-left: solid 1px #2e2e2e42;
  border-bottom: solid 1px #2e2e2e42;
  display: block;
}

.top-post-price{
  font-weight: bold; 
  height: 25%;
  font-size: 130%;
  padding: 10px 0;
  color: black;
  border-bottom: solid 2px #2e2e2e42;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-local{
  height: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 0;
  color: black;
}

.post-building{
  height: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 0;
  color: black;
}

.post-date{
  height: 25%;
  padding: 10px 0;
  color: #7e7e7e;
  font-size: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

