.main {
  background-color: rgb(245, 245, 245);
}

.post-contents{
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-lists{
  display: block;

}

.list{
  margin: 40px;
}

.post{
  width: 70vw;
  border: solid 1px black;
  display: flex;
  background-color: white;
  height: 200px;
}

.post-left{
  width: 25%;
}

.post-img{
  width: 100%;
  height: 100%;
  border: solid 1px #2e2e2e42;
}

.post-center{
  width: 55%;
}

.post-title{
  border: solid 1px #2e2e2e42;
  height: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-explain{
  border: solid 1px #2e2e2e42;
  height: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-right{
  width: 20%;
  border-left: solid 1px #2e2e2e42;
  display: block;
  align-items: flex-start;
}

.post-price{
  
}

.post-local{
  
}

.post-buidling{
  
}

.post-date{
  
}
