.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-btn-in {
  background-color: #eee;
  width: 100%;
  line-height: 40px;
  margin-bottom: 4vh;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 2vh;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color:  #333333;
  border: solid 1px  #333333;
  border-radius: 3px;
  transition: .4s;
}

.login-btn-in:hover {
  background:  #a3a3a3;
  color: white;
}
